@media only screen and (max-width: 480px) {

    .productContainer {
        padding-top: 15px;
        padding-bottom: 70px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'El Messiri';
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .productContainer {
        padding-top: 15px;
        padding-bottom: 70px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'El Messiri';
    }
}