@media only screen and (max-width: 480px) {

    .magicContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .magicDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 90%;
        height: 400px;
        margin-right: 50px;
        background-color: #445069;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    .magicImage {
        width: 320px;
        height: 550px;
    }

    .magicText {
        color: #F7E987;
        text-align: center;
        font-size: 20px;
        font-family: 'El Messiri';
        margin-left: 10px;
        margin-right: 10px;
    }

    .magicArrow {
        margin: 20px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .magicContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .magicDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 80%;
        height: 300px;
        margin-right: 50px;
        background-color: #445069;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        align-self: start;
    }

    .magicImage {
        width: 520px;
        height: 700px;
        margin-bottom: 50px;
    }

    .magicText {
        color: #F7E987;
        text-align: center;
        font-size: 20px;
        font-family: 'El Messiri';
        margin-left: 10px;
        margin-right: 10px;
    }

    .magicArrow {
        margin: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .magicContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .magicDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 80%;
        height: 300px;
        margin-right: 50px;
        background-color: #445069;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        align-self: start;
    }

    .magicImage {
        width: 520px;
        height: 700px;
        margin-bottom: 50px;
    }

    .magicText {
        color: #F7E987;
        text-align: center;
        font-size: 20px;
        font-family: 'El Messiri';
        margin-left: 10px;
        margin-right: 10px;
    }

    .magicArrow {
        margin: 20px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .magicContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .magicDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 80%;
        height: 300px;
        margin-right: 50px;
        background-color: #445069;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        align-self: start;
    }

    .magicImage {
        width: 520px;
        height: 700px;
        margin-bottom: 50px;
    }

    .magicText {
        color: #F7E987;
        text-align: center;
        font-size: 20px;
        font-family: 'El Messiri';
        margin-left: 10px;
        margin-right: 10px;
    }

    .magicArrow {
        margin: 20px;
    }
}