@media only screen and (min-width: 320px) and (max-width: 480px) {

.embla {
    width: 100vw;
    overflow: hidden;
  }
  .embla__container {
    margin: 2wv;
    display: flex;
  }
  .embla__slide {
    flex: 0 0 25%;
    min-width: 0;
    margin-left: 2vw;
    width: 20vw;
    height: 35vw;
  }
}