@media only screen and (max-width: 480px) {

    .contactContainer {
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .contactContainer {
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024) {

    .contactContainer {
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (min-width: 1025) and (max-width: 1200px) {

    .contactContainer {
        width: 100%;
        height: 100vh;
    }
}