.header {
    margin-left: 20px;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
    width: 335px;
}

.menu {
    background-color: red;
    width: 30px;
    height: 30px;
}