@media only screen and (min-width: 320px) and (max-width: 480px) {

    .priceListContainer {
        width: 100vw;
        height: 182vw;
    }

    .priceListImg {
        width: 100vw;
        margin-bottom: 35px;
    }
}