@media only screen and (max-width: 480px) {

    .priceListContainer {
        width: 100vw;
        height: 100%;
    }

    .priceListImg {
        width: 100vw;
        height: 100%;
        margin-bottom: 35px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .priceListContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .priceListImg {
        width: 50%;
        height: 100%;
        margin-bottom: 35px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .priceListContainer {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    .priceListContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .priceListImg {
        width: 50%;
        height: 100%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .priceListContainer {
        display: flex;
        justify-content: center;
    }
}

